HOST=0.0.0.0
PORT=3001
FPS=30
JPEG_QUALITY=45
MAX_FRAME_WIDTH=1024
MONITOR_INDEX=1
AUTH_USERNAME=admin
AUTH_PASSWORD=admin
SESSION_SECRET=change-this-netron-computer-secret
AUDIO_SOURCE=
AUDIO_SAMPLE_RATE=48000
AUDIO_CHUNK_MS=20
